* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
}

.required::after {
  content: " *";
  color: red;
  font-weight: bold;
}

.optional::after {
  content: " (optional)";
  color: #999;
  font-weight: normal;
}

.tk::after {
  content: "৳";
  color: #000;
  font-weight: normal;
}

table {
  width: 100%;
  margin: 50px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  text-align: center;
  font-size: 13px!important;
}


tr:nth-child(even) {
  background-color: #d6d6d6;
}

tr:hover {
  background-color: #ddd;
}



caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.input-box {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000001a;
  background-color: #fff;
  height: fit-content;
}

.form-control {
  border-radius: 8px;
  box-shadow: 0 2px 5px #0000001a;
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 0 5px #007bff80;
  border-color: #007bff;
}

.btn-sky-blue {
  background-color: #4A8CA8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
}

.btn-sky-blue:hover {
  background-color: #256e87;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
}

.company_name{
  position: relative;
}

.company_name .close{
  position: absolute;
  right: 20px;
  top: 8px;
  cursor: pointer;
}

.company_name .close:hover{
  color: red;
}

tr{
  cursor: pointer;
}

.selected{
  background-color: #007bff!important;
  color: white!important;
  font-weight: bold!important;
}

.selected:hover{
  background-color: #06c1ae!important;
  color: white!important;
  font-weight: bold!important;
  transition: all 0.5s ease-in-out!important;
}



